name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4 
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run Quality Analysis

      run: python src/main.py
    
    - name: Run Tests
      run: pytest --cov=src tests/
        
    - name: Upload Analysis Report
      uses: actions/upload-artifact@v4 
      with:
        name: code-quality-report
        path: full_report.txt
